.menu-warp {
  min-height: 100vh !important;
  width: 100%;
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }

  .site-layout-background {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-right: 20px;
    background: #fff;
  }
  .site-layout-content {
    margin: 12px 12px;
    padding: 12px;
    min-height: 280px;
    background: #fff;
  }
  .user-info-block{
    display: inline-block;
    span{
      margin-left: 20px;
      color: #1890ff;
      cursor: pointer;
    }
  }
}
